* {
  margin: 0;
  padding: 0;
  background-color: rgb(203, 197, 197);
  text-align: center;
}

.paragrafo {
  color: rgb(51, 12, 124);
}

.caixa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caixa a {
  text-decoration: none;
  color: #fff;
}

.caixa a:hover {
  color: rgb(65, 19, 129);
  background: #fff;
}
h1, h2, h3 {
  color: rgb(85, 84, 84);
}

button {
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
}